.navbar {
    height: 400px;
}

.navbar-brand {
    text-align: center;
  padding: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  line-height: 150%;
  color: white;
  background-color: #4aaaa5;
  width: 200px;
  float: left;
  font-weight: 700;
}

header {
    width: 960px;
    margin: auto;
  }